<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Happy Birthday Shrutika!</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en" ng-app="app">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en">
</head>

<body ng-controller="mainCtrl as mainVm" ng-cloak>
  <!--
    Your HTML content here
  -->

  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-menu-container>
      <md-button>Home</md-button>
    </md-menu-container>
  </md-sidenav>
  <div class="main-content">
    <div class="hero">
<!--       <md-button class="main-menu md-primary" ng-click="mainVm.openLeftMenu()">
        <md-icon>menu</md-icon>
      </md-button> -->
      <div class="hero-wrapper" layout="row" layout-align="center center">
        <div layout="column">
          <h1 class="md-display-3">Shrutika Kadam</h1>
        </div>
      </div>
    </div>
    <div class="section slanted">
      <div class="section-wrapper" layout="row" layout-align="center center">
        <div layout="column">
          <div class="quote-block md-headline">
            <md-icon class="rotate-180">format_quote</md-icon>
            Masta. Sundar. Chaan. Kuthe naachu sang.
            <md-icon>format_quote</md-icon>
          </div>
        </div>
      </div>
      <div class="section-wrapper no-padding-top" layout="row" layout-align="center center">
        <div class="history">
          <h2 class="md-title">TIMELINE<div class="border-shadow"></div></h2>
          <md-grid-list class="history-grid" md-cols-gt-md="8" md-cols-md="8" md-cols-sm="6" md-cols-xs="4" md-cols="4" md-row-height="1:1" md-gutter="8px">
            <md-grid-tile ng-repeat="tile in mainVm.historyTiles track by $index" md-colspan="2" md-rowspan="2" ng-style="{'background-image': 'url('+tile.image+')'}">

              <div class="tile-contents" layout="column" layout-align="center center">
                <h2>{{tile.year}}</h2>
                <div class="md-body-2 tile-cover" layout="column" layout-align="center center">
                  <h2>{{tile.year}}</h2>
                  <div>{{tile.title}}</div>
                </div>
              </div>
            </md-grid-tile>
          </md-grid-list>
        </div>
      </div>
    </div>
    <div class="section image-window">

    </div>
    <div class="section footer">
      <div class="section-wrapper" layout="row" layout-align="start center">
        <div layout="column">
          <div layout="row" layout-align="start center">
            <div class="profile-image-border">
              <div class="profile-image" src="https://pbs.twimg.com/profile_images/558109954561679360/j1f9DiJi.jpeg"></div>
            </div>
            <div class="md-headline">Want to know more about Shrutika Kadam? Feel free to check out <a href="https://instagram.com/shrutika.kadam?igshid=10rje52mf8qt" target="_blank">Shrutika Kadam</a> </div>
          </div>
        </div>
      </div>
      <div class="author md-body-2" layout-align="center center">
        Made with
        <md-icon>favorite</md-icon> by Love
      </div>
    </div>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
</body>

</html>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
