html,
body {
  font-family: Robotodraft;
}

/**mixins, variables, etc**/
.hero .hero-wrapper {
  text-align: center;
}

button.main-menu {
  position: fixed;
  margin: 16px;
  top: 0;
  left: 0;
  min-width: 0;
  width: 48px;
  height: 48px;
  border-radius: 0;
  border: 2px solid #FAFAFA;
  z-index: 10;
  background-color: transparent !important;
}
button.main-menu::before, button.main-menu::after {
  content: "";
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
  position: absolute;
  width: 100%;
  left: 0;
}
button.main-menu::before {
  border-width: 2px 0 0 0;
  top: -2px;
}
button.main-menu::after {
  border-width: 0 0 2px 0;
  bottom: 0;
}
button.main-menu .md-ripple-container {
  border-radius: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.hero {
  background-image: url("pics/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero .hero-wrapper {
  padding: 16% 5%;
  background-color: rgba(0, 0, 0, 0.38);
}
.hero .hero-wrapper h1 {
  font-weight: 300;
  color: white;
  letter-spacing: .25em;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 16px;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 1;
}
.hero .hero-wrapper h1:before, .hero .hero-wrapper h1:after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-right: none;
  border-left: none;
}
.hero .hero-wrapper h1:before {
  border-bottom-width: 2px;
  top: 2px;
}
.hero .hero-wrapper h1:after {
  border-top-width: 2px;
  top: 0px;
}

h2.md-title {
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
  border-top: 2px solid rgba(0, 0, 0, 0.87);
  padding: 8px 0;
}

.section {
  position: relative;
  z-index: 1;
}
.section.slanted:before, .section.slanted:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  left: 0;
  top: 0;
  z-index: -1;
}
.section.slanted:before {
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}
.section.slanted:after {
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
}
.section .section-wrapper {
  padding: 5.625rem 1.25rem;
  max-width: 61.25rem;
  margin: 0 auto;
}
.section .section-wrapper .history {
  width: 100%;
  text-align: center;
  position: relative;
}
.section .section-wrapper .history h2 {
  display: inline-block;
}
.section .section-wrapper .history .history-grid {
  margin: 24px 0;
}
.section .section-wrapper .history .history-grid md-grid-tile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.section .section-wrapper .history .history-grid md-grid-tile figure .tile-contents {
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.38);
  color: #fff;
  position: relative;
}
.section .section-wrapper .history .history-grid md-grid-tile figure .tile-contents h2 {
  font-weight: 400;
  border: 2px solid #fff;
  padding: 4px 8px;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.section .section-wrapper .history .history-grid md-grid-tile figure .tile-contents .tile-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 16px;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
  visibility: hidden;
}
.section .section-wrapper .history .history-grid md-grid-tile figure .tile-contents .hide-text {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  overflow: hidden;
}
.section .section-wrapper .history .history-grid md-grid-tile figure:hover .tile-contents > h2 {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.section .section-wrapper .history .history-grid md-grid-tile figure:hover .tile-cover {
  opacity: 1;
  visibility: visible;
}
.section .section-wrapper .history .history-grid md-grid-tile figure:hover .hide-text {
  max-height: 100px;
}
.section.image-window {
  z-index: 0;
  background-image: url("pics/lower.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 10%;
  min-height: 550px;
}
.section.footer {
  background-color: #424242;
  z-index: 0;
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
}
.section.footer:before {
  content: "";
  position: absolute;
  background-color: #424242;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.section.footer:before {
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
}
.section.footer img {
  margin-right: 24px;
}
.section.footer a {
  color: #42A5F5;
}
.section.footer div.md-title {
  margin-right: 12%;
}
.section.footer .author {
  text-align: center;
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.section.footer .author md-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  min-height: 0;
  margin: -4px 0;
  color: #E91E63;
}

.quote-block {
  text-align: center;
  padding: 2.5em;
  line-height: 40px !important;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
}
.quote-block md-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  margin: -10px 0;
}

a {
  text-decoration: none;
}

.rotate-180 {
  -webkit-transform: rotate3d(0, 0, 1, 180deg);
  transform: rotate3d(0, 0, 1, 180deg);
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.12);
}

.profile-image-border {
  border: 2px solid #fff;
  display: inline-block;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  margin: 0 24px 0 0;
  padding: 8px;
  border-radius: 50%;
  position: relative;
}
.profile-image-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.12);
  left: -2px;
  top: 0;
  z-index: -1;
}

.profile-image {
  box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("pics/icon.jpg");
  background-size: cover;
  background-position: 80%;
}